.user-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  width: fit-content;

  strong {
    font: 700 17px 'Poppins', sans-serif;
    margin-right: 6px;
  }

  img {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
}