@import '../../styles/variables';

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  font: 500 16px 'Roboto', sans-serif;
  color: #fff;
  background: $color1;

  height: 50px;
  border: 0;
  border-radius: 8px;
  padding: 0 32px;
  gap: 6px;

  cursor: pointer;

  transition: filter 0.3s;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.filter {
  &:not(:disabled):hover {
    filter: brightness(0.85);
  }
}

.sociais {
  display: flex;
  height: 40px;
  width: 200px;

  img {
    width: 28px;
  }
}

.google {
  background: $color3;

  img {
    width: 24px;
  }
}

.teste {
  background: #3b5898;

  img {
    width: 27px;
    filter: invert(100%);
  }
}

.github {
  background: rgb(47, 48, 65);

  img {
    filter: invert(100%);
  }
}

.back-button {
  width: fit-content;
  height: 35px;
  padding: 0 10px;

  background: none;
  border: 1px solid $color1;
  color: $color1;

  img {
    filter: brightness(0) saturate(100%) invert(32%) sepia(70%) saturate(2529%) hue-rotate(238deg) brightness(104%) contrast(98%);
  }

  transition: all 0.3s ease;

  &:hover {
    background: $color1;
    color: #fff;

    img {
      filter: saturate(100%);
    }
  }
}

.link-button {
  font: 400 14px 'Roboto', sans-serif;
  color: $color2;
  background: none;
  border: 0;
  cursor: pointer;
}

.close-room {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 131px;
  background: #fff;
  color: $color4;
  border: 1px solid $color4;

  transition: all 0.3s ease;

  &:hover {
    filter: brightness(0.95);
    background: $color4;
    color: #fff;
  }
}
