@import '../../styles/variables';

.content {
  display: flex;
}

header {
  width: 100vw;
  height: 89px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border-bottom: 1px solid #e2e2e2;

  padding: 20px 120px;

  img {
    display: flex;

    width: 100px;
    justify-self: flex-start !important;
  }

  .buttons {
    display: flex;
    height: 40px;
    width: fit-content;

    gap: 10px;
  }

  button {
    height: 40px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;

    font: 500 14px 'Roboto', sans-serif;

    cursor: pointer;
  }

  .room-button {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
    border: 1px solid $color1;
    background-color: $color1;

    transition: all 0.3s ease;

    &:hover {
      span {
        background: $color1;
        color: #fff;
      }
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      padding: 0 8px;

      img {
        display: flex;
        width: 21px;
      }
    }
    
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      background: #fff;

      padding: 0 7px;

      transition: all 0.3s ease;
    }
  }

  .close-room-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 131px;
    color: $color4;
    border: 1px solid $color4;

    transition: all 0.3s ease;

    &:hover {
      filter: brightness(0.95);
      background: $color4;
      color: #fff;
    }
  }
}