#page-auth {
  display: flex;
  align-items: stretch;
  height: 100vh;

  aside {
    flex: 4;

    background: #835afd;
    color: #fff;

    display: flex;
    flex-direction: column;

    padding: 120px 80px;

    img {
      max-width: 320px;
    }

    strong {
      font: 700 36px 'Poppins', sans-serif;
      line-height: 42px;
      margin-top: 16px;

      width: 440px;
    }

    p {
      font: 400 24px 'Roboto', sans-serif;
      line-height: 32px;
      margin-top: 16px;

      color: #fff;

      opacity: 70%;

      width: 440px;
    }
  }

  main {
    flex: 6;

    padding: 0 32px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
    align-items: stretch;
    text-align: center;
    
    > img {
      align-self: center;
      margin-bottom: 56px;
    }

    h2 {
      font: 700 24px 'Poppins', sans-serif;
      margin-bottom: 24px;
    }

    form {
      input {
        height: 50px;
        border-radius: 8px;
        padding: 0 16px;
        background: #fff;
        border: 1px solid #a8a8b3;
      }

      ::placeholder {
        font: 400 16px 'Roboto', sans-serif;
        color: #a8a8b3;
      }

      button {
        margin-top: 16px;
      }

      button, input {
        width: 100%;
      }

    }

    p {
      font: 400 14px 'Roboto', sans-serif;
      color: #737380;
      margin-top: 16px;

      a {
        margin-left: 4px;
        color: #e559f9;
      }
    }
  }

  .create-room {
    height: 50px;
    color: #fff;
    background: #ea4335;
    font-weight: 500;
    border-radius: 8px;
    border: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: filter 0.3s;

    img {
      margin-right: 8px;
    }

    &:hover {
      filter: brightness(0.85);
    }
  }

  .separator {
    font: 400 14px 'Roboto', sans-serif;
    color: #a8a8b3;

    margin: 32px 0;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-right: 16px;
    }

    &::after {
      content: '';
      flex: 1;
      height: 1px;
      background: #a8a8b3;
      margin-left: 16px;
    }
  }
}
