@import "../../styles//variables";

.main-content {
  h2 {
    font: 700 24px 'Poppins', sans-serif;
    margin-bottom: 24px;
  }

  > span {
    font-size: 14px;
    color: $gray2;
    margin-top: 16px;
  }
}
