@import '../../styles/variables';

article {
  background: #fff;
  width: 100%;

  border-radius: 8px;
  border: 0;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);

  padding: 24px;


  p {
    width: 100%;
    height: fit-content;
    font: 400 16px 'Roboto', sans-serif;
    text-align: justify;
  }

  .question-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 24px;

    .question-user-info {
      display: flex;
      align-items: center;

      img {
        width: 32px;
        border-radius: 16px;
        margin-right: 8px;
      }

      span {
        font: 400 14px 'Roboto', sans-serif;
        color: $gray2;
      }
    }

    .question-actions {
      button {
        cursor: pointer;
        overflow: hidden;
        background: none;
        border: 0;
      }

      .like-content {
        display: flex;
        align-items: flex-end;
        gap: 7px;

        span {
          font: 400 16px 'Poppins', sans-serif;
          color: $gray2;
        }
      }

      button + button {
        margin-left: 16px;
      }

      .check:hover, .answer:hover, .like:hover, img.highlighted, img.liked, img.answered {
        filter: brightness(0) saturate(100%) invert(32%) sepia(70%) saturate(2529%) hue-rotate(238deg) brightness(104%) contrast(98%);
      }

      img.delete:hover, img.delete-selected {
        filter: brightness(0) saturate(100%) invert(44%) sepia(100%) saturate(4025%) hue-rotate(328deg) brightness(95%) contrast(90%);
      }
    }
  }
}

article + article {
  margin-top: 8px;
}

article.highlighted {
  background: #f4f0ff;
  border: 1px solid $color1;

  .question-footer .question-user-info span {
    color: $text1;
  }
}

article.answered {
  background: $gray3;

  .question-footer {
    .question-user-info {
      img {
        filter: brightness(0.8);
      }
    }
  }
}